*,
*::after,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: unset;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 991px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
